<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<p class='instructions'>Enter the details for your demo request:</p>

<%= simple_form_for @demo do |f| %>
	<%= f.association :template %>
	<%= f.input :email %>
	<%= f.input :description %>
	<!-- <%= f.button :submit %> -->
  <button type="submit">Create Demo</button>
<% end %>