<!DOCTYPE html>
<html>
<head>
  <title>Demo Creator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script>POLL_INTERVAL_MS = <%= ENV['poll_interval_ms'] %>;</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 class='logo'><%= link_to 'Demo Creator', root_path %></h1>
    <%= yield %>
  </div>
</body>
</html>
